#sample .env file, set variables and rename to .env
RABBIT_STRING=amqp://RABBIT-CONNECT-STRING
SLACK_WEBHOOK=https://SLACK-WEB-HOOK
SESSION_SECRET=SESSION-SECRET
MONGOOSE_STRING=mongodb://MONGOOSE-STRING
ALLOWED_CORS_ORIGINS=http://www.example.com,http://www.foo.com